<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}">Homepage</title>
    <link rel="shortcut icon" th:href="@{/public/img/ico/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>

    <style>
        body {
            background-image: url('public/img/backgrounds/home.jpeg');
            height: 100%;
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
        }
        span.error {
            color: red;
        }
    </style>
    <script>
        $(document).ready(function($){
            $("#datetimeInp").inputmask("datetime",{
                mask: 1-2-y h:s:s,
                placeholder: "dd-MM-yyyy HH:mm:ss",
                leapday: "-02-29",
                separator: "-",
                hourformat: 24,
                alias: "dd-MM-yyyy"
              });
          })(jQuery)
    </script>
</head>
<body>
<div th:insert="parts/navbar.html :: bar"></div>

<div style="margin: 5px 10% 5% 10%; padding-bottom: 10px; background-color: rgba(255, 255, 255, 0.3);">
    <h1 align="center" th:text="#{home.text.welcome}">Welcome aboard!</h1>

    <div style="padding-bottom: 10px;">
        <h3 align="center" style="margin: 10px 0 20px 0;" th:text="#{home.text.news}">NEWS</h3>
        <div class="card bg-light border-dark mb-3" style="width: 95%; margin: auto;" th:each="news: ${newsLines}" th:if="${news.displayable}">
            <div class="card-header">
                <h5 class="card-title" th:text="${news.header}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${news.description}"></h6>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${news.text}"></p>
            </div>
            <div class="card-footer bg-transparent border-dark">
                <h6 class="card-subtitle mb-2 text-muted" align="right" th:text="${#temporals.format(news.published, 'EEEE, dd MMMM yyyy, HH:mm') + ' UTC'}"></h6>
            </div>
        </div>
    </div>

    <div sec:authorize="hasAuthority('ROLE_ADMIN')" class="container">
        <form th:object="${newsData}" action="/home" method="post">
            <h2>Create news</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEN">News in English</a>
                        </h4>
                    </div>
                    <div id="collapseEN" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="header_en">Header</label>
                                <input id="header_en" class="form-control" type="text" name="headerEn" th:field="*{headerEn}" required/>
                                <span class="error" th:if="${#fields.hasErrors('headerEn')}"
                                      th:errors="*{headerEn}"></span>
                            </div>
                            <div class="form-group">
                                <label for="description_en">Short description</label>
                                <input id="description_en" class="form-control" type="text" name="descriptionEn" th:field="*{descriptionEn}" required/>
                                <span class="error" th:if="${#fields.hasErrors('descriptionEn')}"
                                      th:errors="*{descriptionEn}"></span>
                            </div>
                            <div class="form-group">
                                <label for="text_inp_en">News text</label>
                                <textarea id="text_inp_en" class="form-control" style="resize: vertical;" name="textEn" th:field="*{textEn}" required></textarea>
                                <span class="error" th:if="${#fields.hasErrors('textEn')}"
                                      th:errors="*{textEn}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseUA">Новини українською</a>
                        </h4>
                    </div>
                    <div id="collapseUA" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="header_ua">Заголовок</label>
                                <input id="header_ua" class="form-control" type="text" name="headerUa" th:field="*{headerUa}" required/>
                                <span class="error" th:if="${#fields.hasErrors('headerUa')}"
                                      th:errors="*{headerUa}"></span>
                            </div>
                            <div class="form-group">
                                <label for="description_ua">Короткий опис</label>
                                <input id="description_ua" class="form-control" type="text" name="descriptionUa" th:field="*{descriptionUa}" required/>
                                <span class="error" th:if="${#fields.hasErrors('descriptionUa')}"
                                      th:errors="*{descriptionUa}"></span>
                            </div>
                            <div class="form-group">
                                <label for="text_inp_ua">Текст новини</label>
                                <textarea id="text_inp_ua" class="form-control" style="resize: vertical;" name="textUa" th:field="*{textUa}" required></textarea>
                                <span class="error" th:if="${#fields.hasErrors('textUa')}"
                                      th:errors="*{textUa}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="datetime-local" id="datetimeInp" class="form-control" th:field="*{toBeDisplayedDate}" name="toBeDisplayedDate" placeholder="2017-05-30 10:20:30"/>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>