<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.text.analysis.title}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="parts/navbar.html :: bar"></div>
<div style="margin: 10px 10% 5% 10%;">
    <div th:insert="user/textInput.html :: input"></div>
    <div th:insert="user/textData.html :: output"></div>
</div>
</body>
</html>