div#textInputItem {
    height: 50vh;
    width: 100%;
    border: 1px solid #000;
    resize: none;
    overflow-y: scroll;
    white-space: normal;
    word-wrap: break-word;
}

div#textInputItem mark {
  border-radius: 3px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  background-color: #b1d5e5;
  padding: 0;
}