<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="input">
    <h3 th:text="#{user.text.analysis.field.input.title}"></h3>

    <form class="needs-validation" method="post" th:object="${textDataDto}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('textData')}"
             th:errors="*{textData}"></div>

        <div class="container" style="padding: 0;">
            <div class="backdrop" id="backdropItem">
                <div class="highlights" id="markedOutput"></div>
            </div>

            <textarea th:placeholder="#{user.text.analysis.field.placeholder}" autofocus id="textInputItem" onresize="this.resizeWidth();"
                      name="textData" th:utext="*{textData}"></textarea>
        </div>

        <button type="button" class="btn btn-primary" th:text="#{user.text.analysis.submit}" id="callAjaxButton"
                style="margin-top: 1vh;"></button>
    </form>
</div>
</body>
</html>