<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="common_parts/navbar.html :: bar"></div>
<a href="">User search</a>
<a href="">Something</a>
</body>
</html>