<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.user.title(${userData.login})}"></title>

    <link rel="shortcut icon" th:href="@{/public/img/ico/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/css/bootstrap.min.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="parts/navbar.html :: bar"></div>
<ul class="list-group" style="width: 50vw;">
    <li class="list-group-item">
        <span th:text="#{admin.user.form.login}"></span>
        <span th:text="${userData.login}" style="float: right;"></span>
    </li>
    <li class="list-group-item">
        <span th:text="#{admin.user.form.name}"></span>
        <span th:text="${userData.name}" style="float: right;"></span>
    </li>
    <li class="list-group-item">
        <span th:text="#{admin.user.form.surname}"></span>
        <span th:text="${userData.surname}" style="float: right;"></span>
    </li>
    <li class="list-group-item">
        <span th:text="#{admin.user.form.birth_date}"></span>
        <span th:text="${#dates.format(userData.birthDate, 'dd-MM-yyyy')}" style="float: right;"></span>
    </li>
    <li class="list-group-item">
        <span th:text="#{admin.user.form.registration_date}"></span>
        <span th:text="${#dates.format(userData.registerDate, 'dd-MM-yyyy HH:mm')}" style="float: right;"></span>
    </li>
    <li class="list-group-item">
        <span th:text="#{admin.user.form.enabled}" style="display: inline;"></span>
        <div th:switch="${userData.enabled}" style="display: inline;">
            <div th:case="true" style="display: inherit; float: right;">
                <span th:text="#{admin.users.form.user.enabled}" style="display: inherit;">Enabled</span>
                <form method="post" th:action="@{'/admin/users/{login}/disable'(login=${userData.login})}" style="display: inherit;">
                    <button type="submit" class="btn btn-secondary" th:text="#{admin.user.form.disable}">Disable
                    </button>
                </form>
            </div>
            <div th:case="false">
                <span th:text="#{admin.users.form.user.disabled}">Disabled</span>
                <form method="post" th:action="@{'/admin/users/{login}/enable'(login=${userData.login})}}">
                    <button type="submit" class="btn btn-primary" th:text="#{admin.user.form.enable}">Enable</button>
                </form>
            </div>
        </div>
    </li>

    <form th:method="delete" th:if="${userData.authority.role == T(ua.den.restful.model.enums.AuthorityType).ROLE_USER}">
        <input type="hidden" name="_method" value="delete"/>
        <button type="submit" class="btn btn-danger" th:text="#{admin.user.form.delete}" style="float: right; margin-top: 5vh;">Delete</button>
    </form>
</ul>
</body>
</html>