<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.user.title(${userData.login})}"></title>

    <link rel="shortcut icon" th:href="@{/public/img/ico/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/css/bootstrap.min.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>