<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.users.title}">Users data</title>

    <link rel="shortcut icon" th:href="@{/public/img/ico/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/public/css/bootstrap.min.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="parts/navbar.html :: bar"></div>

<div th:if="${param.all_deleted}" class="alert alert-success" role="alert"
     th:text="#{admin.users.alert.all_deleted}"></div>
<div th:if="${param.acc_deleted}" class="alert alert-success" role="alert"
     th:text="#{admin.users.alert.acc_deleted(${param.userAccount})}"></div>
<div th:if="${param.all_updated}" class="alert alert-success" role="alert"
     th:text="#{admin.users.alert.all_updated}"></div>

<table class="table table-striped" style="margin-top: 5vh;">
    <caption style="caption-side: top; text-align: center;" th:text="#{admin.users.table.caption}"></caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{admin.users.form.login}">Login</th>
        <th scope="col" th:text="#{admin.users.form.name}">Name</th>
        <th scope="col" th:text="#{admin.users.form.surname}">Surname</th>
        <th scope="col" th:text="#{admin.users.form.registration_date}">Registration date</th>
        <th scope="col" th:text="#{admin.users.form.enabled}">Enabled</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${userList}">
        <th scope="row" th:text="${user.login}"></th>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${#dates.format(user.registerDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td>
            <div th:switch="${user.enabled}">
                <span th:case="true" th:text="#{admin.users.form.user.enabled}">Enabled</span>
                <span th:case="false" th:text="#{admin.users.form.user.disabled}">Disabled</span>
            </div>
        </td>
        <td>
            <form th:action="@{'/admin/users/{login}'(login=${user.login})}" method="get">
                <button type="submit" class="btn btn-secondary" th:text="#{admin.users.form.details}">Details</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/admin/users/delete}" method="post">
    <button type="submit" class="btn btn-danger" th:text="#{admin.users.form.delete_all}">Delete all users</button>
</form>
<form th:action="@{/admin/users/updateStatus}" method="post">
    <input type="hidden" name="account_status" value="true"/>
    <button type="submit" class="btn btn-warning" th:text="#{admin.users.form.enable_all}">Enable all users</button>
</form>
<form th:action="@{/admin/users/updateStatus}" method="post">
    <input type="hidden" name="account_status" value="false"/>
    <button type="submit" class="btn btn-warning" th:text="#{admin.users.form.disable_all}">Disable all users</button>
</form>
</body>
</html>