<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terms of use</title>

    <style>
        div.terms ol { counter-reset: item }
        div.terms ol li { display: block }
        div.terms ol li:before { content: counters(item, ".") " "; counter-increment: item }
    </style>
</head>
<body>
<div th:fragment="terms" class="terms">
    <ol>
        <li>Conditions</li>
        <ol>
            <li>Accept this</li>
        </ol>
    </ol>
</div>
</body>
</html>